*{
	padding: 0;
	margin-top: 5%;
	margin-left: 10%;
}

body{
	background-color: black;
}

td{
	width: 55px;
	height: 55px;
}

.blank{
	background-color:blank;
}

.snake{
	background-color: white;
}

.wall{
	background-color: pink;
}

.fruit{
	background-color: red;
}